## Introduction

In this notebook, the traveldemand survey data is analyzed to determine how much progress has been made since 
the implementation of the TfL strategy.

The data is retrieved from the Travel Demand survey with a sample size of 8000 households https://tfl.gov.uk/corporate/about-tfl/how-we-work/planning-for-the-future/consultations-and-surveys

The date range is from 2010-2020 as there is no later data available.

In [2]:
# Import the libraries
import pandas as pd
import numpy as np

traveldemand = pd.read_excel('london_travel_demand.xlsx')

traveldemand.describe()
traveldemand.head(10)

,Area,Travelmode,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Inner London,National Rail,347319,347379,382942,406607,420772,427872,434300,417081,445047,485672,412808
1,Inner London,Underground/DLR,725466,817964,832450,935765,874149,972411,970933,966534,998850,963060,1001726
2,Inner London,Bus/tram,1315588,1450570,1417383,1400008,1439217,1362507,1342014,1143539,1141730,1164427,1162565
3,Inner London,Taxi/other,139869,137925,153049,141712,152731,130696,176056,168789,196113,141687,147278
4,Inner London,Car driver,1135065,1068940,1135526,1083251,1152769,969479,1066998,969054,985114,921616,822778
5,Inner London,Car passenger,527287,578711,579352,556462,639893,554717,548282,495337,548287,488717,452071
6,Inner London,Motorcycle,34778,27370,35847,41702,22863,24131,50915,35528,25976,25462,22493
7,Inner London,Cycle,202349,226233,338360,308082,312171,323488,274818,290407,306746,322921,317471
8,Inner London,Walk,2605187,2695657,2894453,3024525,2950001,2858779,2745817,3004203,2684616,2812690,3137608
9,Inner London,All,7032908,7350749,7769360,7898115,7964565,7624079,7610132,7490473,7332478,7326252,7476797

In [13]:
# Melt the dataframe from wide to long
traveldemand_long = traveldemand.melt(id_vars = ["Area", "Travelmode"])
traveldemand_long

             Area       Travelmode variable     value
0    Inner London    National Rail     2010    347319
1    Inner London  Underground/DLR     2010    725466
2    Inner London         Bus/tram     2010   1315588
3    Inner London       Taxi/other     2010    139869
4    Inner London       Car driver     2010   1135065
..            ...              ...      ...       ...
215  Outer London    Car passenger     2020   1549478
216  Outer London       Motorcycle     2020     24410
217  Outer London            Cycle     2020    173838
218  Outer London             Walk     2020   3168039
219  Outer London              All     2020  10725270

[220 rows x 4 columns]

In [15]:
traveldemand_long.rename(columns ={'variable' : 'year'}, inplace = True)
traveldemand_long

             Area       Travelmode  year     value
0    Inner London    National Rail  2010    347319
1    Inner London  Underground/DLR  2010    725466
2    Inner London         Bus/tram  2010   1315588
3    Inner London       Taxi/other  2010    139869
4    Inner London       Car driver  2010   1135065
..            ...              ...   ...       ...
215  Outer London    Car passenger  2020   1549478
216  Outer London       Motorcycle  2020     24410
217  Outer London            Cycle  2020    173838
218  Outer London             Walk  2020   3168039
219  Outer London              All  2020  10725270

[220 rows x 4 columns]

In [ ]:
#